
body{
    margin: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
}

/* NAVEGACION**/
@media (min-width: 768px) {
    header{
        width: 100%;
        position: fixed;
    }
    
}
.ico{
    height: 0rem; 
}
@media (min-width: 768px) {
    .ico{
    width: 3rem;
    height: 2.3rem;
    margin-bottom: -0.8rem; 
   }
}

.navegacion{
    font-family: 'Balsamiq Sans', cursive;
    background-color: #0a0e3b; 
    font-size: 1.1rem;
    padding: 1rem;
    padding-top: 0.2rem;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        justify-content: space-between;
    } 
}

.nav{
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    
}
@media (min-width: 768px) {
    .nav{
        padding: 0rem;
        display:inline-block;
        margin-top: 1.5rem;
    }  
}


a{
    color: white;
    text-decoration: none;
    max-width: 10; 
}
@media (min-width: 768px) {
    a{
        margin-top: -5px;
    }
}

.boton{
    font-family: 'Balsamiq Sans', cursive;
    background-color: #4658fa;
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: outset;
    text-align: center;
    margin-top: 1rem;
    text-align: center;  
}
.boton:hover{
    cursor: pointer;
}

/* PRESENTACION */

.grid{
    display: flex;
    justify-content: space-between;   
}

@media (min-width: 768px) {
    .grid{
        margin-bottom: 5rem;
    }
}

.cont-grid{
    width: 100%;
    max-width: 100%;
    padding-top: 5rem;
    margin-bottom: 10rem;
}
@media (min-width: 1130px) {
    .cont-grid{
        padding-top:10rem;          
     }
 }


 .img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
   width: 0rem;
   
 }
 @media (min-width: 768px) {
     .img{
        width: 90rem;
        padding-top: 10rem;
        max-width: 80%;
     }
 }


 .h1{
     font-family: 'Balsamiq Sans', cursive;
     font-size: 2.8rem;
 }


 .p{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center; 
 }

 .p1{
     font-size: 2.8rem;
     margin-bottom: 1rem;
 }

 .btn{
     font-size:1rem;
     text-transform: uppercase;
     padding: 0.8rem;
     color: white;
     margin-bottom: 12rem;
 }
 @media (max-width: 940px) {
    .btn{
        font-size:0.9rem;
        padding: 1rem;
    }  
 }
 @media (min-width: 768px) {
     .btn{
        width: 103.5%;
        margin-top: -1rem;
     }
 }
 @media (max-width: 402px) {
    .bt{
        padding: 0.5rem;
        margin-bottom: 0;
        display: grid;
    }
}

 .cont-grid1{
    text-align: center;
    margin-bottom: 3rem;    
 }
 
 @media (min-width: 768px) {
     .cont-grid1{
        padding-left:10rem;
        padding-top: 2rem;    
     }
 }
 @media (min-width: 751px) {
    .cont-grid1{
       padding-left:10rem;
       padding-top: 5rem;    
    }
}
@media (min-width: 965px) {
    .cont-grid1{
        padding-left: 10rem;
        padding-top: 8rem;
    }
}
@media (min-width: 1113px) {
    .cont-grid1{
        padding-left: 10rem;
        padding-top: 4rem;
    }
}



 /*TECNOLOGIAS*/

h2{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
}

.tam-img{
    width: 15rem;
    padding-bottom: 2rem; 
    padding-top: 2rem; 
}

.img-tecno{
    text-align: center;
    padding-bottom: 5rem;
}

/*ACERCA DE MI*/
.cont-texto{
    box-shadow: 1px 1px 6px 9px rgb(0 0 0 / 15%);
    background-color: white;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 3.5rem;
    padding-left: 4rem;
    padding-right: 4rem; 
    margin-top: 10rem;
}
@media (max-width: 768px) {
    .cont-texto{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.cont-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.2rem; 
}

/*FOOTER*/
footer{
    background-color:#0a0e3b;
    color: white;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    padding: 2rem;
    margin-top: 5.4rem;
    
}
h5{
    font-weight: normal;
}

/*PAGINA CONTACTO*/
.contenedor{
    padding-top: 5rem;   
}

.campo__field{
    height: calc(1em + 0rem + 0px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: 15px;
 
}

@media (min-width: 768px) {
    .campo__field{
        display: block;
        width: 100%;
        height: calc(1.1em + .75rem + 2px);
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        border-radius: 15px;
    }
}

input, textarea {
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
}

.formulario{
    margin: 0 auto;
    width: 90vw;
    max-width: 1100px;
    margin-top: -1rem;  
}

.campo{
    text-align: center;
}
@media (min-width: 768px) {
    .campo{
        margin-top: 1rem;
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: inherit;  
    }  
}

.campo1{
    margin-top: 3rem;
}

.campo__label{
    display: flex;
    flex-direction: column;
    margin-bottom: -1rem;
}
@media (min-width: 768px) {
    .campo__label{
        display: inline-block;
        margin-bottom: -0.5rem;
    }
}

 .campo__field--textarea{
     height: 15rem;
 }

 .campo__field{
     font-family: 'Balsamiq Sans', cursive;;
     font-size: 1rem;
     margin-bottom: 1rem;

}
 .cont-contacto{
    display: flex;
    flex-direction: column; 
 }

 .contenedor{
     display: flex;
     flex-direction: column;
     padding-top: 10rem;
 }

 /*PAGINA PROYECTOS*/
 .cont-img{
    max-width: 100%;
    max-height: 100%;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.cont-p{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.p3{
    font-family:'Balsamiq Sans', cursive;;
    font-weight: bolder ;
    font-size: 1.3rem;
    color: #0a0e3b;
}

@media (min-width: 1445px) {
     .grid-pro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    }
}

/* PAGINA CV*/
iframe{
    width: 131.93rem;
    height: 100rem;
    margin-top: 4.9rem;
}
@media (max-width: 768px) {
    iframe{       
        margin-top: 0rem;
    }
}






 






